################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Digitec/bin/Debug
/Digitec/obj/Debug/Digitec.exe
/Digitec/obj/Debug
/.vs/Digitec/v15/Server/sqlite3
